services:
  wordpress:
    image: wordpress:6.1.1-apache
    ports:
      - 80:80
    restart: always
    environment:
      - WORDPRESS_DB_HOST={{ db_host }}
      - WORDPRESS_DB_USER={{ db_user }}
      - WORDPRESS_DB_PASSWORD={{ db_password }}
      - WORDPRESS_DB_NAME={{ db_name }}